body{
    margin: 0;
    background-color: rgb(21, 21, 22);
    color: azure;
    font-family:sans-serif;
    
}


nav{
    display: flex;
    justify-content: center;
}

nav button{
    margin-top: 200px;}



main{
    display: flex;
    justify-content: center;
}

.buttton_parent{
    display: flex;
    justify-content: center;
   
    height: 20px;
    margin-top: 20px;

    

   
}

button{
    margin: 0px 5px;
    background-color: transparent;
    width: 120px;
    height: 33px;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 10px;
    

    color: rgb(202, 202, 202);
    font-size: 1.0rem;
}

button:hover{
    background-color: rgba(14, 167, 37, 0.403);
    box-shadow: 1px 1px 10px rgb(48, 209, 36);
  }


#clock{
font-size: 6rem;


}




  /* screnn phone +1*/
  @media screen and (min-width: 768px) {
    nav button{
        margin-top: 300px;}
    
    
  
    }
        
nav button:hover{
    background-color: rgba(51, 98, 207, 0.591);
    box-shadow: 1px 1px 10px rgb(42, 79, 228);

}


.duration_parent{
    display: flex;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;

}
.duratin_word{
    color: rgb(111, 111, 111);
}

